.user {
  &-avator-dropdown {
    cursor: pointer;
    display: inline-block;
    // height: 64px;
    vertical-align: middle;
    // line-height: 64px;
    .ivu-badge-dot {
      top: 16px;
    }
    .icon-tuichu {
      color: #fff;
      opacity: 0.8;
      font-size: 18px;
    }
    .ivu-icon-md-arrow-dropdown {
      color: #fff;
      opacity: 0.8;
    }
    .sub {
      width: 450px;
      background-color: #fff;
      text-align: center;
      font-size: 16px;
      .close {
        position: absolute;
        right: 0;
        top: 5px;
        cursor: pointer;
        z-index: 10;
        color: #fff;
      }
      .changepassword {
        width: 100%;
        .title {
          background-color: #084868;
          line-height: 35px;
          text-align: center;
          color: #fff;
          font-size: 16px;
        }
        .change {
          padding: 20px 25px 20px 15px;
        }
      }
      .ivu-form {
        .ivu-form-item-label {
          width: 25%;
        }
        .ivu-form-item-content {
          width: 75%;
          float: left;
        }
        .ivu-btn {
          background-color: #5cb85c;
          border: none;
          width: 35%;
        }
      }
    }
  }
}
