.facelibitem {
  position: absolute;
  top: 0;
  left: 0;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #064667;
  z-index: 12;
  .sub {
    position: absolute;
    width: 410px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #dcdee2;
    background-color: #fff;
    .subtitle {
      margin-bottom: 20px;
      font-size: 16px;
    }
    .ivu-form {
      .ivu-form-item-content {
        width: 85%;
      }
      .ivu-form-item-label {
        width: 15%;
      }
      .ivu-btn-primary {
        margin-top: 0;
      }
    }
  }
  .ivu-card-head {
    background-color: #1183bf;
    p {
      color: #fff;
    }
  }
  .ivu-card-bordered {
    border-color: #389cc8;
  }
  .ivu-card-body {
    background-color: #064667;
  }
  .ivu-card-bordered {
    height: 100%;
    background-color: #064667;
  }
  .addface {
    position: absolute;
    top: 17px;
    left: 15px;
    color: #fff;
    opacity: 0.7;
    &:hover {
      color: #fff;
      border-color: #fff;
      opacity: 1;
    }
    .icon-icon-test {
      font-size: 14px !important;
    }
  }
  .nohasface {
    font-size: 14px;
    line-height: 40px;
    color: #a3e0f1;
  }
  .close {
    position: absolute;
    right: 0;
    top: 5px;
    cursor: pointer;
    z-index: 10;
  }
  .facelist {
    overflow: hidden;
    // display: -webkit-flex;
    // justify-content: center;
    // align-items: center;
    .item {
      cursor: pointer;
      float: left;
      margin-right: 20px;
      margin-bottom: 20px;
      width: 115px;
      height: 175px;
      background-color: #fff;
      box-sizing: border-box;
      padding: 10px 10px 0 10px;
      border-radius: 5px;
      .img {
        width: 100%;
        height: 115px;
        float: left;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .dis {
        float: right;
        width: 100%;
        height: 50px;
        line-height: 25px;
        font-size: 16px;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
      }
    }
  }
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    .pop {
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.5;
      z-index: 1;
    }
    .cons {
      width: 670px;
      // height: 320px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      color: #fff;
      background-color: #006288;
      border: 1px solid #58aac9;
      border-radius: 5px;
      box-sizing: border-box;
      padding: 20px 30px 20px 30px;
      .facepic {
        float: left;
        margin-right: 30px;
        width: 190px;
        height: 190px;
        box-sizing: border-box;
        border: 1px solid #fff;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .backpic {
        float: left;
        height: 190px;
        width: 335px;
        box-sizing: border-box;
        border: 1px solid #fff;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .dis {
        padding-top: 15px;
        float: left;
        width: 100%;
        height: auto;
        font-size: 16px;
        line-height: 30px;
        text-align: left;
        color: #a3e0f1;
      }
    }
  }
}
